<header class="box-830 main">

  {% if eyebrow %}
    <p>{{ eyebrow | safe }}</p>
  {% endif %}

  <h1 class="h4">{{ page.title }}</h1>

  {% if page.subtitle %}
    <p class="h6">{{ page.subtitle }}</p>
  {% endif %}

  {% if pagination.alias != 'articles' or pagination.pageNumber == 0 %}

    {% if page.picture and page.summary %}
      <div class="grid-header g-4 mt-4">
        <div class="stack-1">
          {{ page.summary }}
        </div>
        {{ page.picture | figure }}
      </div>

    {% elsif page.picture %}
      <div class="maxw-s mt-4 stack-1">
        {{ page.picture | figure }}
      </div>

    {% elsif page.summary %}
      <div class="mt-4 stack-1">
        {{ page.summary }}
      </div>

    {% endif %}

  {% endif %}

</header>
